<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-assertive">
        <h1 class="title">Ionic Task</h1>
      </ion-header-bar>
      <ion-content  ng-controller="mainController">
        Mensagem: {{mensagem}}
        <input type="text" placeholder="Entre com seu nome" ng-model="mensagem"/>
        <button class="button button-dark" ng-click="novaMensagem('Mensagem pelo botão')">Nova</button>

        <ul class="list">
          <li class="item" ng-repeat="item in lista">
            {{item}}
          </li>
        </ul>
      </ion-content>
    </ion-pane>
  </body>
</html>
